/* Estilo del Lobby del Usuario  */
/* Estilo del Menu */

body{
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}
.container{
    background: rgba(0, 0, 0, 0.8); /* Cambiamos el color de fondo con transparencia */
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding-bottom: 10px;
}

.row{
    display: flex;
    overflow: hidden;
    
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#cuspide, #cuspide-banner{
    border-radius: 10px;
}

#lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    background-color: rgb(255, 71, 4);
    opacity: 0.8;
    border-radius: 10px;
}

#lista li{
    font-size: 20px;
    padding: 5px 10px;
    margin-inline: 10px;
    color: #fff;
    border-radius: 10px;
    list-style: none;
    text-decoration: none;
}

#lista li:hover{
    background: #ffaa00;
    transition: 0.3s;
    border-radius: 10px;  
}

.alumnos, .libros, .prestamos{
    border: solid #ff4800 6px;
    margin-top: 5px;
    border-radius: 20px;
}
.estiloform{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 5px;
    justify-content: space-around;
}
input{
    display: inline-block;
}

input, button{
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #333; /* Cambiamos el color de fondo de los inputs y botones a un tono más oscuro */
    color: #fff;
}

button{
    cursor: pointer;
    border-radius: 10px;
}

